#dino {
    width: 200px;
    height: 200px;
    background-image: url('../Assets/Game/dino.png');
    background-size: 200px;
    position: relative;
    top: 15%;
    left: 40px;
    z-index: 10;
    will-change: transform;
}

.jump {
    animation: jump 1.5s ease-in-out;
}

@keyframes jump {
    0%      { top: 15% }
    30%     { top: -70% }
    100%    { top: 15% }
}

#cactus {
    width: 120px;
    height: 200px;
    position: relative;
    top: 70px;
    left: 940px;
    background-image: url('../Assets/Game/cactus.png');
    background-size: 120px 200px;
}

.cactus-game {
    animation: block, block, block, block;
    animation-duration: 3s, 2.5s, 2s, 1.5s; 
    animation-delay: 0s, 15s, 30s, 60s;
    animation-iteration-count: infinite, infinite, infinite, infinite;
    animation-timing-function: linear, linear, linear, linear;
}

@keyframes block {
    0% {
        left: 940px;
    }
    100% {
        left: -300px;
    }
}
