.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#dino {
    width: 200px;
    height: 200px;
    background-image: url('../Assets/Game/dino.png');
    background-size: 200px;
    position: relative;
    top: 30px;
    left: 40px;
    z-index: 10;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 30px;
    }

    30% {
        top: -80px;
    }

    50% {
        top: -150px;
    }

    80% {
        top: -80px;
    }

    100% {
        top: 30px;
    }
}

#cactus {
    width: 120px;
    height: 200px;
    position: relative;
    top: 70px;
    left: 580px;
    background-image: url('../Assets/Game/cactus.png');
    background-size: 120px 200px;

    animation: block 5s infinite linear;
}

@keyframes block {
    0% {
        left: 940px;
    }
    100% {
        left: -300px;
    }
}
